<%- include("includes/header.ejs") %> 
    <main class="container p-5">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">網頁不見了</h1>
          <p class="col-md-8 fs-4">網頁被怪獸吃掉了</p>
          <a class="btn btn-primary btn-lg" href="/" role="button">返回首頁</a>
        </div>
      </div>
    </main>

<%- include("includes/footer.ejs") %> 